{% extends 'base.html' %}
{% load static %}
{% block title %}Аккаунт – Продукты 24{% endblock %}

{% block css %}
    <!-- Связывание с CSS файлом -->
    <link rel="stylesheet" href={% static 'css/account.css' %}>
{% endblock %}

{% block content %}
    <main class="container account">
        <h1>Настройки профиля</h1>
        
        <form method="POST">
            {% csrf_token %}
            
            <!-- Имя -->
            <label for="first-name" class="form-label">Имя</label>
            <input type="text" class="form-control" id="first-name" name="first_name" placeholder="Введите имя" value="{{ first_name }}">

            <!-- Фамилия -->
            <label for="last-name" class="form-label reg-label">Фамилия</label>
            <input type="text" class="form-control" id="last-name" name="last_name" placeholder="Введите фамилию" value="{{ last_name }}">

            <!-- Почта -->
            <label for="email" class="form-label reg-label">Электронная почта</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Введите почту" value="{{ email }}">

            <!-- Пароль -->
            <label for="password" class="form-label reg-label">Новый пароль (не менее 6 символов. Оставьте пустым, если не хотите менять)</label>
            <input type="password" class="form-control" id="password" name="password" minlength="6" placeholder="Введите новый пароль">

            <!-- Двухфакторная аутентификация -->
            <label class="form-check-label" style="margin-top: 15px;">
                <input
                    type="checkbox"
                    name="two_factor"
                    {% if profile.two_factor_enabled %}
                    checked
                    {% endif %}
                >
                Подтверждение входа по почте
            </label>

            <!-- Кнопка сохранения -->
            <button type="submit" class="btn btn-dark" id="save-button" style="display: block; margin-top: 20px;">Сохранить</button>
        </form>
    </main>   
{% endblock %}

{% block js %}
    <script type="text/javascript" src={% static 'js/account.js' %}></script>
{% endblock %}