{% extends 'base.html' %}
{% load static %}

{% block title %}
Подтверждение
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/interesting.css' %}">
<link rel="stylesheet" href="{% static 'css/hfeedback.css' %}">
{% endblock %}

{% block content %}

<div class="container my-5">

    <div class="row justify-content-center">

        <div class="col-md-6 col-lg-5">

            <div class="forum-cta text-center">

                <h2>
                    📧 Подтверждение
                </h2>

                <p class="mt-3">
                    Мы отправили код подтверждения на вашу почту
                </p>

                <div
                    id="error-container"
                    class="d-none mb-3"
                ></div>

                <form id="confirm-form">

                    {% csrf_token %}

                    <input
                        type="text"
                        name="email-code"
                        id="email-code"
                        class="form-control bg-dark text-light border-secondary mt-4"
                        placeholder="Введите код"
                        maxlength="4"
                        autocomplete="off"
                        required
                    >

                    <button
                        type="submit"
                        class="btn btn-light btn-lg mt-4 px-5"
                    >
                        Подтвердить →
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>

$(document).ready(function() {

    $('#confirm-form').on('submit', function(e) {

        e.preventDefault();

        $('#error-container')
            .addClass('d-none')
            .html('');

        $.ajax({

            url: window.location.pathname,

            type: 'POST',

            data: $(this).serialize(),

            dataType: 'json',

            success: function(response) {

                console.log(response);

                if (response.status === 'success') {

                    window.location.href = response.redirect;

                } else {

                    $('#error-container')
                        .html(
                            '<div class="alert alert-danger">' +
                            response.message +
                            '</div>'
                        )
                        .removeClass('d-none');
                }
            },

            error: function(xhr) {

                console.log(xhr.responseText);

                let msg = 'Ошибка сервера';

                try {

                    const response = JSON.parse(xhr.responseText);

                    if (response.message) {
                        msg = response.message;
                    }

                } catch(e) {

                    console.log(e);

                }

                $('#error-container')
                    .html(
                        '<div class="alert alert-danger">' +
                        msg +
                        '</div>'
                    )
                    .removeClass('d-none');
            }

        });

    });

});

</script>

{% endblock %}

{% include 'footer.html' %}