{% extends 'base.html' %}
{% load static %}

{% block title %} Продукты 24{% endblock %}

{% block css %}
<link rel="stylesheet" href={% static 'css/header.css' %}>
<link rel="stylesheet" href={% static 'css/interesting.css' %}>
<link rel="stylesheet" href={% static 'css/hfeedback.css' %}>
{% endblock %}

{% block content %}

<!-- FORUM CTA -->
<div class="container my-5">
    <div class="forum-cta">
        <h2>Общий чат</h2>
        <p class="mt-3">
            Списывайся с школой, оглашай общие новости
        </p>
        <a href="{% url 'chat' %}" class="btn btn-light btn-lg mt-3 px-5">
            Перейти в чат →
        </a>
    </div>
</div>

<!-- NEWS -->
<div class="container my-5">
    <h2 class="mb-4">📢 руководство</h2>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="news-card">
                <h5>📰 Форум</h5>
                <p>Смотрите и Публикуйте статьи, оставляйте коментарии</p>
                <small class="text-secondary">пишите до 1 статьи в день, не имея привилегий</small>
            </div>
        </div>

        <div class="col-md-4">
            <div class="news-card">
                <h5>💬 Общий чат</h5>
                <p>Списывайся с школой, оглашай общие новости</p>
                <small class="text-secondary">не оскорбляйте друг друга и не кидайте 18+ контент</small>
            </div>
        </div>

        <div class="col-md-4">
            <div class="news-card">
                <h5>🎭 Мафия</h5>
                <p>Играйте в мафию с друзьями онлайн (даже без звонка) и на переменах</p>
                <small class="text-secondary">запрещено палить другую мафию без согласия, играйте без токсичности</small>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% include 'footer.html' %}