<div class="msg" data-msg-id="{{ m.id }}">
  <div class="msg-avatar"></div>
  <div class="bubble">
    <div class="msg-top">
      <div class="msg-name">
        {{ m.author.first_name|default:m.author.username }}
      </div>
      <div class="d-flex align-items-center gap-2">
        <div class="msg-time">
          {{ m.created_at|date:"H:i" }}
        </div>
        
        {% if m.author.id == user.id or user.is_staff or user.is_superuser %}
          <button class="btn btn-sm btn-outline-danger"
                  type="button"
                  onclick="deleteMsg({{ m.id }})">
            удалить
          </button>
        {% endif %}
      </div>
    </div>
    
    {% if m.text %}
      <div class="msg-text">{{ m.text }}</div>
    {% endif %}
    
    {% if m.image %}
      <div class="msg-attach">
        <div class="attach-img">
          <img src="{{ m.image.url }}" alt="image">
        </div>
      </div>
    {% endif %}
    
    {% if m.file %}
      <div class="msg-attach">
        <div class="attach-file">
          <div class="fname">{{ m.file.name }}</div>
          <a class="btn-download" href="{{ m.file.url }}" download>скачать</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>