{% extends "forum/base.html" %}
{% block title %}Форум{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2><i class="bi bi-chat-text"></i> Форум</h2>
    <a href="/forum/create/" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Создать пост
    </a>
</div>

{% if posts %}
    <div class="row " >
        {% for post in posts %}
        <div class="col-md-6 mb-4" >
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" style="color: white; text-decoration: none;">{{ post.title }}</h5>
                    
                    <!-- Темы поста -->
                    {% if post.topics.all %}
                    <div class="mb-2">
                        {% for topic in post.topics.all %}
                        <a href="/forum/?topic={{ topic.slug }}" 
                           class="topic-badge bg-{{ topic.color }}" 
                           style="color: white; text-decoration: none;">
                            {{ topic.name }}
                        </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <p class="card-text text-white ">
                        {{ post.content|truncatechars:120 }}
                    </p>
                    
                    {% if post.image %}
                    <div class="mb-2">
                        <img src="{{ post.image.url }}" class="img-fluid rounded" style="max-height: 100px;">
                    </div>
                    {% endif %}
                    
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <small class="text-muted" style="color: rgb(174, 158, 158); text-decoration: none;">
                            <i class="bi bi-person" style="color: rgb(177, 166, 166); text-decoration: none;"></i> <a style="color: rgb(133, 130, 130); text-decoration: none;">{{ post.author.username }}</a> <br>
                            <i class="bi bi-clock" style="color: rgb(214, 199, 199); text-decoration: none;"></i> <a style="color: rgb(114, 112, 112); text-decoration: none;">{{ post.created_at|date:"d.m.Y H:i" }}</a> 
                        </small>
                        <a href="/forum/post/{{ post.id }}/" class="btn btn-sm btn-outline-primary">
                            Читать <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="card p-5 text-center">
        <i class="bi bi-emoji-frown fs-1"></i>
        <p class="text-muted mt-3">Постов пока нет 😢</p>
        <a href="/forum/create/" class="btn btn-primary mt-2">Создать первый пост</a>
    </div>
{% endif %}
{% endblock %}